@model ViewModels.Cnpagelist

@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>
<script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
<link href="~/Content/NewsDetail.css" rel="stylesheet" />
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detail</title>
</head>
<body>
    <div class="bigbox">
        <div class="content">
            <div class="detail-title"><h1>@Html.Raw(Model.FindDetailNews.NewsTitle)</h1></div>
            <div class="detail-daohang">
                <span>@Model.FindDetailNews.SubmtDate</span> <span>@Model.FindDetailNews.Author</span>               
            </div>
            <hr/>
            <p>@Html.Raw(@Model.FindDetailNews.NewsContent)</p>
            <div class="detail-comment">
                <div class="detail-commentHead">  
                    <h3>你想说点什么？</h3>                  
                    </div>
                <div class="detail-commentTxt">
                  <div class="detail-commentTxtLeft">
                      @if (Session["User_id"] != null)
                      {
                          <img src="@Session["Image"]" />

                      }
                      else
                      {
                          <img src="~/Images/tc_login_yonghu.jpg" />
                      }
                  </div>
@using (Html.BeginForm("Comment", "NewsShow", FormMethod.Post))
{
    <input type="text" name="Newscomment" id="Newscomment" />
    <input type="hidden" value="@Model.FindDetailNews.News_id" name="Newsid" />

                <div class="detail-commentSubmit">
                  <div class="detail-commentSubmitDiv">
                      @if (Session["User_id"] != null)
                      {
                          <input type="submit" value="发表"/>
                          <a href="javascript:document.getElementById('Comment').submit()">发表</a>
                      }
                      else
                      {
                          <a class="woyadengruaheahe">发表</a>
                      }
                  </div>
              </div>
}

              <div class="detail-commentShow">
                <div class="detail-commentShowDiv"></div>
              </div>
             </div>

            </div>
            <div class="contentBottom">
                <h2><a href="@Url.Action("Detail","NewsShow",new { id=@Model.FindBefore.News_id})">上一篇:@Model.FindBefore.NewsTitle</a></h2>
                <h2><a href="@Url.Action("Detail","NewsShow",new { id=@Model.FindNext.News_id})">下一篇:@Model.FindNext.NewsTitle</a></h2>
            </div>
        </div>
        <div class="detail-right">
            <form class="navbar-form navbar-left" action="@Url.Action("Details","NewsShow")">
                <div class="form-group">
                    <input type="text"  name="keyword" class="form-control" placeholder="Search    ">                   
                </div>
                <button id="btn1" class="btn btn-default">搜索新闻</button>
            </form>
           <div>
              
               <a id="text">@*@{Html.RenderAction("Details");}*@</a>
              <script type="text/javascript">
                  $(document).ready(function () {
                      $("#btn1").click(function () {
                          var kw=$("#keyword").val();
                          $.ajax({ 
                              type:"GET", //提交的类型 
                              url: '@Url.Action("Details","NewsShow")',//提交地址 
                              data:{keyword:kw},//参数 
                              success: function(data1){ //回调方法 
                                  //    $('#text').load('/Views/NewsShow/Details.cshtml'); 
                                  //} 
                                  $('#text').remove();
                                  $('#text').append("<span id='CheckCodeResult'>" + data1 + "</span>").css('color', '#1E90FF');
                              }
                          })
                      })
                  })
              </script>
           </div>
        </div>
    </div>
</body>
</html>
